.contactpage {
    margin: 0 5% 0 10%;
    color:white;
    .text-zone{
        width:70%;
        float:left;
        text-align: justify;
        letter-spacing: 0.75px;
        line-height: 26px;
        
        @media only screen and (max-width: 9500px) and (min-width:700px){
            width:50%;
            margin-left: 5%;
          }
          @media only screen and  (max-width: 700px) and (min-width:555px){
            margin-left: 10%;
              width: 90%;
              margin-top: 5%;
              float: none;;
          }
          @media only screen and  (max-width: 555px){
              float: none;
              width: 90%;
              margin-top: 15%;
              font-size: 16px;
              letter-spacing: 0.5px;
              line-height: 26px;
          }
          .container{
              
            flex: auto;
              width: 100%;
              margin-top: 10%;

              .links{
                display: flex;
                float: left;
                min-width: 50%;
                margin-right: 10%;
                margin-top: 10%;
              
              svg{
                flex: none;
                align-self:flex-start;
                margin-top: -6px;
                margin-right: 3%;
            }
              a{
                  text-decoration: none;
                  color: white;
                  width: 100%;
                  float: left;
                  margin-right: 5%;
                  font-size: 120%;
                  font-weight: 700;
                  display: flex;
                  align-items:flex-start;
                  

                  &:hover{
                      color: aqua;
                  }
                  
              }
            }
          }
            
    }
}